<nav>
    <div>
            <a href="/" class="site-name">Craig'slist</a>
            <a href="/search">Search</a>
            <% if (user) { %>
                <a href="/logout"><i>trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i>vpn_key</i>Login with Google</a>
            <% } %>
            <ul>
                <a href="/items">For Sale</a>
                <a href="/jobs">Job Listing</a>
            </ul>
    </div>
</nav>