<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Teri's List</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3 class="center-align">Welcome to Teri's List!</h3>
    <div class="row center-align">
        <div class="col s3 offset-s2 center-align">
            <h4>Current Jobs</h4>
            <a href="/jobs">Job Listing</a>
        </div>
            
        <div class="col s3 offset-s2 center-align">
            <h4>Current Items</br>for Sale</h4>
            <a href="/items">Items for Sale</a>
        </div>
    </div>     
</body>
</html>

