<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <title>Craigs List</title>
</head>
<body>
    <nav>
        <div>
                <a href="/" class="site-name">Craigslist</a>
                <a href="/search">Search</a>
                <% if (user) { %>
                    <a href="/logout"><i>trending_flat</i>Log Out</a>
                <% } else { %>
                    <a href="/auth/google"><i>vpn_key</i>Login with Google</a>
                <% } %>
        </div>
        </nav>
                <form>
                    <div>
                        <h5 id="header">Welcome to Craigslist!</h5>
                        <p>This site is way cooler then the original.</p>
                        <!-- <div>
                            <label>Username</label><br>
                            <input type="text" name="username"><br>
                        </div>
                        <div>
                            <label>Password</label><br>
                            <input type="text" name="password"><br> 
                            <button type="submit">Log-in</button>
                        </div> -->
                    </div>
                </form>   
                <div class="container">
                    <div class="row">
                        <div class="col s6">Current Jobs</div>
                        <div class="col s6">Current Items for Sale</div>
                      </div>
                  </div>
</body>
</html>

