<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Site name</a>
            <ul>
                <li><a href="/">Site Name</a></li>
                <li><a href="/">Search</a></li>
                <li><a href="/">Account/Log iin</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>