<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/css/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
		<title>Items for sale</title>
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a href="/">home</a>
				</li>
				<li>
					<a href="/items">List of Items for Sale!</a>
				</li>
				<li>
					<a href="/items/edit">Post an Item </a>
				</li>
			</ul>
		</nav>
		<main>
		<div class="container">
                
			<div class="row">
				<h1>Edit <%= item.name %></h1>
			<form action="/items/<%= item._id %>?_method=PUT" method="POST">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="name" value="<%= item.name %>" />
							<label for="name">Item Name</label>
						</div>
					</div>
					
				<div class="row">
					<div class="input-field col s12">
						<input name="items_type" id="items_type" type="text" value="<%= item.items_type %>">
						<label for="items_type">Item type</label>
					</div>
				<!-- </div>
					<div class="row">
						<div class="input-field col s12">
							<input name="location" id="location" type="text" class="validate">
							<label for="location">Location</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input name="price" id="price" type="text" class="validate">
							<label for="price">Item price</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea name="items_description" id="items_description" class="materialize-textarea"></textarea>
							<label for="items_description">items_description</label>
						</div>
					</div> -->
					<div>
						<label>Description</label><br/>
						<textarea type="text" name="description" rows="7" cols="30"></textarea><br>
							<input type="submit" value="Update" />
					</div>
				</form>
			</div>
		</div>  
		</main>
	</body>
</html>