<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Items for sale</title>
	</head>
	<body>
		<nav>
			<h1>Welcome to Blog App!</h1>
			<ul>
				<li>
					<a href="/">home</a>
				</li>
				<li>
					<a href="/items">List of Items for Sale!</a>
				</li>
			</ul>
		</nav>
		<main>
			<h1>Edit <%= item.name %></h1>
			<form action="/items/<%= item._id %>?_method=PUT" method="POST">
				<input type="text" name="name" value="<%= item.name %>" />
                <div>
                    <label>Price<span class="required">*</span></label><br>
                    <input type="text" name="price"><br> 
                </div>
                <div>
                    <label>Type of Item</label><br>
                    <input type="text" name="itemType"><br>
                </div>
                <div>
                    <label>Description</label><br/>
                    <textarea type="text" name="description" rows="7" cols="30"></textarea><br>
						<input type="submit" value="Update" />
                </div>
			</form>
		</main>
	</body>
</html>