<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for sale</title>
	</head>
	<body>

		<%- include('../partials/nav.ejs') %>

			<h1 class="Item-header">List of Items for Sale!</h1>
			<a href ="/"> Back to Home</a>
			<div class="item-div">
				<% items.forEach((item, i) => { %>
					<div class="itemList">
						<h4><%= item.name %></h4>
						<a href="/items<%= i %>">
						</a>
					</div>
				<% }) %>
				</div> 
	</body>
</html>