<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>New Item</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div>
        <ul>
            <li>
                <a href="/items">Items</a>
            </li>
            <li>
                <a href="/items/new">Add an Item</a>
            </li>
        </ul>
    </div>
    <main>
		<form action="/items" method="POST">
			<input type="text" name="name" placeholder="Item name" />
            <input type="text" items_type="items_type" placeholder="Item type" />
            <input type="text" items_description="items_description" placeholder="Item description" />
            <input type="text" location="location" placeholder="Location" />
            <input type="text" price="price" placeholder="Price" />
			<input type="submit" value="Create" />
		</form>
	</main>
</body>
</html>