<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
<main>

    <%- include('../partials/nav.ejs') %>
    <form>
        <div>
            <h3 id="header">Create Item for Sale</h3>
            <div>
                <label>What would you like to sell?<span class="required">*</span></label><br>
                <input type="text" name="itemName"><br>
            </div>
            <div>
                <label>Price<span class="required">*</span></label><br>
                <input type="text" name="price"><br> 
            </div>
            <div>
                <label>Type of Item</label><br>
                <input type="text" name="itemType"><br>
            </div>
            <div>
                <label>Description</label><br/>
                <textarea type="text" name="description" rows="7" cols="30"></textarea><br>
                <button type="submit">Create Post</button>
            </div>
            <p><span class="required">*</span>Required field</p>
        </div>
    </form>
</main>
</body>
</html>