<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Document</title>
</head>
<body>
<main>
    <form>
        <div>
            <h3 id="header">Create Item for Sale</h3>
            <div>
                <label>What would you like to sell?<span class="required">*</span></label><br>
                <input type="text" name="itemName"><br>
            </div>
            <form action="/quotes" method="POST">
                <input type="text" placeholder="name" name="name">
                <input type="text" placeholder="quote" name="quote">
                <button type="submit">Submit</button>
              </form>





            <div>
                <label>Price<span class="required">*</span></label><br>
                <input type="text" name="price"><br> 
            </div>
            <div>
                <label>Type of Item</label><br>
                <input type="text" name="itemType"><br>
            </div>
            <div>
                <label>Description</label><br/>
                <textarea type="text" name="description" rows="7" cols="30"></textarea><br>
                <button type="submit">Create Post</button>
            </div>
            <p><span class="required">*</span>Required field</p>
        </div>
    </form>
</main>
</body>
</html>