<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job posting</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
            <li>
                <a href="/jobs/new">List a Job</a>
            </li>
        </ul>
    </nav>
    <main>
		<form action="/jobs" method="POST">
			<input type="text" title="title" placeholder="Job title" />
            <input type="text" company="company" placeholder="Job company" />
            <input type="text" description="description" placeholder="Job description" />
            <input type="text" date="date" placeholder="Date" />
			<input type="submit" value="Create" />
		</form>
	</main>
</body>
</html>