<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job posting</title>
    <link rel="stylesheet" href="../public/css/styles.css">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Craigs List</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/search">Search</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <form action="/jobs" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" id="name" type="text" class="validate">
                        <label for="name">Job Title</label>
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s12">
                        <input name="Company" id="Company" type="text" class="validate">
                        <label for="Company">Company</label>
                    </div>
                </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="Job_description" id="Job_description" type="text" class="validate">
                            <label for="Job_description">Job description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="date" id="date" type="text" class="validate">
                            <label for="date">Date</label>
                        </div>
                    </div>
                    <input type="submit" value="Create" />
                </form>
            </div>
        </div>
	</main>
</body>
</html>