<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
<main>
    <%- include('../partials/nav.ejs') %>
    <form>
        <div>
            <h3 id="header">Add a Job listing</h3>
            <div>
                <label>Job Title:</label><br>
                <input type="text" name="jobTitle"><br>
            </div>
            <div>
                <label>Company:</label><br>
                <input type="text" name="jobCompany"><br>
            </div>
            <div>
                <label>Job Description:</label><br/>
                <textarea type="text" name="description" rows="7" cols="30"></textarea><br>
                <button type="submit">Create Post</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>