<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Job Listing</title>
	</head>
	<body>
		<nav>
			<h1>List of Jobs</h1>
			<ul>
				<li>
					<a href="/jobs">List of Jobs</a>
				</li>
				<li>
					<a href="/jobs/new">Add a Job</a>
				</li>
			</ul>
		</nav>
		<main>
			<section>
				<h2>Job Info</h2>
				<a href="/jobs/">Edit</a>
				<ul>
					<li>Title: </li>
					<li>Job Listings:</li>
					
				</ul>
			</section>
			<form action="/jobs?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
		</main>
	</body>
</html>